body {
  background-image: url('https://wallpaperaccess.com/full/796832.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

#aboutus h2{
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap{
  width: 100%;
}

.img-wrap img{
  width: 200%;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}



#aboutus p{
font-weight: 300;
color: #fff;
}
